/* semantic color variables for this project */
:root {
  --color-primary-lighten2: #D7B7FE;
  --color-primary-lighten1: #8E3BCE;
  --color-primary-base: #781AC1;
  --color-primary-darken1: #2C0052;

  --color-accent1: #FA707E;
  --color-accent2: #020050;
}

:root.light {
  /* The colors I want to be responsive to light or dark mode must have specific names to use them then */
  --color-background: var(--color-primary-lighten2);

  --color-border: var(--color-primary-darken1);

  --color-text: var(--color-pirmary-lighten2);
}

:root.dark {
  /* The colors I want to be responsive to light or dark mode must have specific names to use them then */
  --color-background: var(--color-primary-base);

  --color-border: var(--color-primary-lighten2);

  --color-text: var(--color-primary-darken1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}